$primary-color: #0075bc;
$secondary-color: #d51256;
$dark-color: #13002e;
$light-blue: #dff1fb;

$avatar-size: 90px;

@mixin filterButton {
    color: white;
    height: 25px;
    border-color: rgba($color: #FFFFFF, $alpha: 0.2);
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
    padding: 2px;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 10pt;
    position: relative;
    margin: 8px 16px 8px 0px;
};

@mixin closeIcon {
    content: 'x';
    line-height: 15px;
    text-align: center;
    position: absolute;
    right: 5px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: white;
    color: black;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper{
    height: 100vh;
    position: relative;
    .sidebar{
        max-width: 500px;
        width: 300px;
        display: flex;
        flex-flow: column;
        padding: 0px 20px;
        background-color: white;
        .side-menu-close{
            display: none;
        }
        .logo{
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            flex: 0 1 auto;
            img{
                width: 100%;
            }
        }
        .sidebar-nav{
            flex: 1 1 auto;
            list-style-type: none;
            padding-left: 0;
            li{
                display: flex;
                flex-flow: row;
                align-items: center;
                padding: 10px 0;
                position: relative;
                i{
                    font-size: 20px;
                    text-align: center;
                    border-radius: 50%;
                    line-height: 40px;
                    width: 40px;
                    height: 40px;
                    color: darkgrey;
                }
                a{
                    text-decoration: none;
                    color: darkgrey;
                    padding: 5px 10px;
                    padding-right: 30px;
                    font-weight: 500;
                }
                &::after{
                    content: '';
                    border-radius:20px;
                    position: absolute;
                    width: 100%;
                    height: 60%;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
            li.selected{
                i{
                    background-color: $primary-color;
                    color: white;
                }
                a{
                    color: $primary-color;
                }
                &::after{
                    background-color: $light-blue;
                }
            }
        }
        .sign-up-in{
            flex: 0 1 120px;
            display: flex;
            flex-flow: column;
            align-items: center;
            .sign-up{
                color: $secondary-color;
            }
            .sign-in{
                background-color: $secondary-color;
                color: white;
                border-radius: 20px;
                width: 100%;
            }
        }
    }
    .sidebar.show{
        animation: showSideBar 5s normal !important;
    }
    .main-content{
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-flow: column;
        align-items: stretch;
        
        .search-panel{
            background-color: $primary-color;
            flex: 0 1 auto;
            -webkit-box-flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            .search-panel-title{
                h6{
                    padding-top: auto;
                    padding-bottom: auto;
                }
            }

            #search{
                position: relative;
                max-width: 200px;
                height: 35px;
                input{
                    padding-left: 15px;
                    padding-right: 30px;
                    background-color: transparent;
                    color: white;
                    border: 1px solid white;
                    border-radius: 20px;
                    &::placeholder{
                        color: rgba($color: white, $alpha: 0.7);
                    }
                }
                #icon{
                    position: absolute;
                    color: white;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .filter-choices{
                border: 1px solid white;
                border-radius: 20px;
            }
            .filter-row{
                color: white;
            }
            .filter-item{
                @include filterButton();
                .filter-item-close{
                    width: 20px;
                    height: 20px;
                    position: relative;
                    &:after{
                        @include closeIcon()
                    }
                }
            }
            .clear-button{
                @include filterButton();
                padding: 1px 5px !important;
                padding-right: 30px !important;
                &:after{
                    @include closeIcon()
                }
            }

            .dropdown .dropdown-toggle{
                border: 1px solid white;
                border-radius: 20px;

            }
            
            .filter-dropdown .dropdown-toggle{
                border: 0px solid red !important;
            }

        }
        .doctors-list{
            overflow-y: auto;
            background-color: $light-blue;
            flex: 1 1 auto;
            .doctor{
                margin: 10px;
                position: relative;
                max-width: 250px;
                .avatar{
                    height: $avatar-size;
                    width: $avatar-size;
                    border-radius: 50%;
                    border: 3px solid white;
                    background-color: white;
                    z-index: 2;
                    img{
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 50%;
                        height: $avatar-size - 25;
                        width: $avatar-size - 25;
                    }
                }
                &:after{
                    content: '';
                    background-color: white;
                    width: 100%;
                    height: $avatar-size / 2;
                    position: absolute;
                    left: 0;
                    top: $avatar-size / 2;
                    z-index: 1;
                    border-radius: 8px 8px 0 0;
                }
                .details{
                    background-color: white;
                    border-radius: 0 0 8px 8px;
                    .name{
                        text-align: center;
                        margin-bottom: 2px;
                    }
                    .department{
                        text-align: center;
                    }
                    .qualifications{
                        text-align: center;
                        color: lightgray;
                    }
                    .duration{
                        line-height: 20px;
                        font-weight: 500;
                        i{
                            line-height: 20px;
                            font-size: 18px;
                            color: darkgrey;
                        }
                    }
                    .fees{
                        color: $primary-color;
                        font-weight: 500;
                    }
                }
            }
        }
        .footer{
            flex: 0 1 60px;
            background-color: $dark-color;
            font-size: 12px;
        }
    }
}

.searchpanel-expander{
    display: none !important;
    border-top: 1px solid $light-blue;
    cursor: pointer;
    height: 30px;
    &:hover{
        background-color: rgba($color: $light-blue, $alpha: 0.2); 
    }
    i{
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            top: 50%;
            top: 2px;
            left: 42px;
            transform: rotate(135deg) translateY(-50%)
        }
        &.expanded::after{
            transform: rotate(-45deg);
            left: 40px;
            top: 0px;
        }
    }
}

.filter-choices.expanded, .sort-doctors.expanded {
    display: none !important;
}

.search-row{
    justify-content: space-between;
}


@mixin mediaQuery {
    #search{
        max-width: 270px !important;
    }

    .searchpanel-expander{
        display: flex !important;
    }

    .sidebar{
        width: 230px !important;
        position: fixed !important;
        left: -350px;
        z-index: 999 !important;
        height: 100% !important;
        padding-top: 10px !important;
        .side-menu-close{
            display: block !important;
            margin-top: 0px;
            height: 60px;
        }
    }
    
    .menu-button{
        display: block !important;
        color: white;
        border: 1px solid white;
        margin: 5px 8px 5px 0;
    }
}


@media only screen and (max-width: 550px) and (orientation: landscape){  
    #search{
        margin: 10px 0 5px 0;
    }
    .search-panel-title{
        margin-top: 15px !important;
    }
}

@media only screen and (max-device-width: 900px) and (orientation: landscape){  
    @include mediaQuery();   
    .wrapper{
        height: 500px;
    }
    /* Prevents Mobile Safari from bumping up font sizes in landscape */
    body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

@media only screen and (max-width: 600px) {
    @include mediaQuery();
    .wrapper{
        height: 100vh !important;
    }
}


